
body {
    background-color: lightblue;
  }
  /* Demonstrate style precedence and inheritance in CSS
  Inheritance */
  h1 {
    color: navy;
    margin-left: 20px;
  }
  h3 {
    font: "Lucidia Console", "Courier New", monospace;
  }
/* Demonstrate style precedence and inheritance in CSS
  Precedence  */
  footer {
    font-size: 10px;
  }
  /* M2LO5 Demonstrate contextual selectors*/
  p {
    text-align: center;
    color: black;
  }
  /* M2LO7 Demonstrate a CSS attribute selector other than class or id */
  #SM {
    Color: Red;
    font: "Lucidia Console", "Courier New", monospace;
  }
  #MM {
    Color: Blue;
    font: "Lucidia Console", "Courier New", monospace;
  }